In [1]:
import pandas as pd
import numpy as np

n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 5, size=(n_rows, n_cols)), columns=cols)

df

   A  B  C  D  E
0  3  4  3  4  3
1  2  4  2  2  4
2  4  4  4  2  1
3  1  1  1  1  3
4  4  1  4  4  2
5  2  2  1  4  4
6  4  1  2  2  2
7  3  1  1  1  4
8  4  2  4  4  2
9  1  4  4  3  2

In [5]:
df[(df['A'] == 1) | (df['A'] == 3)]

   A  B  C  D  E
0  3  4  3  4  3
3  1  1  1  1  3
7  3  1  1  1  4
9  1  4  4  3  2

In [9]:
df[~df['A'].isin([1, 3])]

   A  B  C  D  E
1  2  4  2  2  4
2  4  4  4  2  1
4  4  1  4  4  2
5  2  2  1  4  4
6  4  1  2  2  2
8  4  2  4  4  2

In [10]:
data = {"cols1":['1','2','3','teks'],
        "cols2":['1','2','3','4']
        }

df = pd.DataFrame(data)
df

  cols1 cols2
0     1     1
1     2     2
2     3     3
3  teks     4

In [14]:
df_x = df.astype({'cols2':'int'})
df_x

  cols1  cols2
0     1      1
1     2      2
2     3      3
3  teks      4

In [16]:
df_x.dtypes

cols1    object
cols2     int64
dtype: object

In [41]:
df.apply(pd.to_numeric, errors='coerce')

   cols1  cols2
0    1.0      1
1    2.0      2
2    3.0      3
3    NaN      4

In [22]:
from IPython.core.display import JSON
json = JSON('https://jsonplaceholder.typicode.com/posts')
data_json = json.data

df_json = pd.DataFrame(data_json)
df_json

/usr/local/lib/python3.7/dist-packages/IPython/core/display.py:798: UserWarning: JSON expects JSONable dict or list, not JSON strings
  warnings.warn("JSON expects JSONable dict or list, not JSON strings")

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...
1,1,2,qui est esse,est rerum tempore vitae\nsequi sint nihil repr...
2,1,3,ea molestias quasi exercitationem repellat qui...,et iusto sed quo iure\nvoluptatem occaecati om...
3,1,4,eum et est occaecati,ullam et saepe reiciendis voluptatem adipisci\...
4,1,5,nesciunt quas odio,repudiandae veniam quaerat sunt sed\nalias aut...
...,...,...,...,...
95,10,96,quaerat velit veniam amet cupiditate aut numqu...,in non odio excepturi sint eum\nlabore volupta...
96,10,97,quas fugiat ut perspiciatis vero provident,eum non blanditiis soluta porro quibusdam volu...
97,10,98,laboriosam dolor voluptates,doloremque ex facilis sit sint culpa\nsoluta a...
98,10,99,temporibus sit alias delectus eligendi possimu...,quo deleniti praesentium dicta non quod\naut e...
99,10,100,at nam consequatur ea labore ea harum,cupiditate quo est a modi nesciunt soluta\nips...

In [25]:
df_json.dtypes

userId     int64
id         int64
title     object
body      object
dtype: object

In [40]:
x = df_json[(df_json['userId'] == 1) & (df_json['id'] == 1)]
x

,userId,id,title,body
0,1,1,sunt aut facere repellat provident occaecati e...,quia et suscipit\nsuscipit recusandae consequu...

In [63]:
from IPython.display import JSON
api = JSON('https://api-twitter-trends.herokuapp.com/trends?location=indonesia')
api_json = api.data['data']['trends']

datetime = []
time = []
name = []
tweet = []
for i in range(0, len(api_json)):
    for x in range(0 , len(api_json[0]['data'])):
        datetime.append(api_json[i]['datetime'])
        time.append(api_json[i]['time'])
        name.append(api_json[i]['data'][x]['name'])
        tweet.append(api_json[i]['data'][x]['tweet_count'])

df = pd.DataFrame({'datetime': datetime, 'time':time, 'tweet_name':name, 'tweet_count':tweet})
df

/usr/local/lib/python3.7/dist-packages/IPython/core/display.py:798: UserWarning: JSON expects JSONable dict or list, not JSON strings
  warnings.warn("JSON expects JSONable dict or list, not JSON strings")

                datetime            time                tweet_name tweet_count
0    22-03-2022 05:06:30  29 minutes ago      #BusinessProposalEp7        202K
1    22-03-2022 05:06:30  29 minutes ago            #HappyOhmDay22        212K
2    22-03-2022 05:06:30  29 minutes ago  #WujudkanKetahananPangan
3    22-03-2022 05:06:30  29 minutes ago               BTS Heardle         12K
4    22-03-2022 05:06:30  29 minutes ago                    Pawang         67K
..                   ...             ...                       ...         ...
235  21-03-2022 08:24:32    21 hours ago    CAN YOU FEEL MY RHYTHM         25K
236  21-03-2022 08:24:32    21 hours ago                     NPURE
237  21-03-2022 08:24:32    21 hours ago         Lagu Kpop Terenak
238  21-03-2022 08:24:32    21 hours ago                    Isyana
239  21-03-2022 08:24:32    21 hours ago          Visualnya Unreal

[240 rows x 4 columns]