In [58]:
import numpy as np
import pandas as pd
import os

tabel_1 = pd.read_excel('sclube.xlsx', sheet_name='Table 1')
tabel_2 = pd.read_excel('sclube.xlsx', sheet_name='Table 2')
tabel_3 = pd.read_excel('sclube.xlsx', sheet_name='Table 3')
tabel_4 = pd.read_excel('sclube.xlsx', sheet_name='Table 4')
tabel_5 = pd.read_excel('sclube.xlsx', sheet_name='Table 5')
tabel_6 = pd.read_excel('sclube.xlsx', sheet_name='Table 6')
tabel_7 = pd.read_excel('sclube.xlsx', sheet_name='Table 7')
tabel_8 = pd.read_excel('sclube.xlsx', sheet_name='Table 8')
tabel_9 = pd.read_excel('sclube.xlsx', sheet_name='Table 9')
tabel_10 = pd.read_excel('sclube.xlsx', sheet_name='Table 10')
tabel_11 = pd.read_excel('sclube.xlsx', sheet_name='Table 11')
tabel_12 = pd.read_excel('sclube.xlsx', sheet_name='Table 12')
tabel_13 = pd.read_excel('sclube.xlsx', sheet_name='Table 13')
tabel_14 = pd.read_excel('sclube.xlsx', sheet_name='Table 14')
tabel_15 = pd.read_excel('sclube.xlsx', sheet_name='Table 15')
tabel_16 = pd.read_excel('sclube.xlsx', sheet_name='Table 16')
tabel_17 = pd.read_excel('sclube.xlsx', sheet_name='Table 17')
tabel_18 = pd.read_excel('sclube.xlsx', sheet_name='Table 18')
tabel_19 = pd.read_excel('sclube.xlsx', sheet_name='Table 19')
tabel_20 = pd.read_excel('sclube.xlsx', sheet_name='Table 20')
tabel_21 = pd.read_excel('sclube.xlsx', sheet_name='Table 21')
tabel_22 = pd.read_excel('sclube.xlsx', sheet_name='Table 22')
tabel_23 = pd.read_excel('sclube.xlsx', sheet_name='Table 23')
tabel_24 = pd.read_excel('sclube.xlsx', sheet_name='Table 24')
tabel_25 = pd.read_excel('sclube.xlsx', sheet_name='Table 25')
tabel_26 = pd.read_excel('sclube.xlsx', sheet_name='Table 26')
tabel_27 = pd.read_excel('sclube.xlsx', sheet_name='Table 27')
tabel_28 = pd.read_excel('sclube.xlsx', sheet_name='Table 28')
tabel_29 = pd.read_excel('sclube.xlsx', sheet_name='Table 29')
tabel_30 = pd.read_excel('sclube.xlsx', sheet_name='Table 30')

data = [tabel_2, tabel_3, tabel_4, tabel_5,
 tabel_6, tabel_7, tabel_8, tabel_9, tabel_10,
 tabel_11, tabel_12, tabel_13, tabel_14, tabel_15, 
 tabel_16, tabel_17, tabel_18, tabel_19, tabel_20,
 tabel_21, tabel_22, tabel_23, tabel_24, tabel_25,
 tabel_26, tabel_27, tabel_28, tabel_29, tabel_30]

df = pd.DataFrame(data=data, columns=['data'], dtype=object)
df

                                                 data
0   Empty DataFrame
Columns: [02/06/2022 14:15:09 ...
1   Empty DataFrame
Columns: [02/06/2022 15:19:37 ...
2   Empty DataFrame
Columns: [03/06/2022 07:31:57 ...
3   Empty DataFrame
Columns: [03/06/2022 10:09:24 ...
4   Empty DataFrame
Columns: [03/06/2022 22:25:59 ...
5   Empty DataFrame
Columns: [04/06/2022 12:17:28 ...
6   Empty DataFrame
Columns: [04/06/2022 21:12:41 ...
7   Empty DataFrame
Columns: [04/06/2022 21:12:49 ...
8   Empty DataFrame
Columns: [05/06/2022 08:36:33 ...
9   Empty DataFrame
Columns: [05/06/2022 17:18:44 ...
10  Empty DataFrame
Columns: [05/06/2022 18:55:41 ...
11  Empty DataFrame
Columns: [06/06/2022 06:43:25 ...
12  Empty DataFrame
Columns: [06/06/2022 07:03:14 ...
13  Empty DataFrame
Columns: [06/06/2022 10:30:23 ...
14  Empty DataFrame
Columns: [06/06/2022 14:31:38 ...
15  Empty DataFrame
Columns: [06/06/2022 16:06:34 ...
16  Empty DataFrame
Columns: [06/06/2022 16:50:24 ...
17  Empty DataFrame
Columns: [07/06/2022 02:48:26 ...
18  Empty DataFrame
Columns: [07/06/2022 07:52:29 ...
19  Empty DataFrame
Columns: [Saat ini saya sudah ...
20  Empty DataFrame
Columns: [07/06/2022 11:04:08 ...
21  Empty DataFrame
Columns: [07/06/2022 13:14:25 ...
22  Empty DataFrame
Columns: [07/06/2022 22:27:10 ...
23  Empty DataFrame
Columns: [08/06/2022 09:08:58 ...
24  Empty DataFrame
Columns: [08/06/2022 14:52:34 ...
25  Empty DataFrame
Columns: [08/06/2022 16:40:25 ...
26  Empty DataFrame
Columns: [08/06/2022 17:26:44 ...
27  Empty DataFrame
Columns: [08/06/2022 22:16:49 ...
28  Empty DataFrame
Columns: [[1] This column is n...